#map {
  position: relative;
  height: 80vh;
  width: 100%;
}

#map svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

#map circle {
  pointer-events: auto;
  --color-departures: steelblue;
  --color-arrivals: darkorange;

  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );

  fill: var(--color);
  stroke: white;
  opacity: 0.6;
}


header {
  display: flex;
  align-items: baseline;
  gap: 1em;
  padding: 1rem;
}

header label {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 350px;
}

header time,
header em {
  display: block;
}

header em {
  color: #666;
  font-style: italic;
}

header label input[type="range"] {
  width: 100%;
}




.legend {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-block: 1.5rem;
  font-size: 0.9rem;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

.legend-item::before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: var(--color);
  display: inline-block;
}

.legend-label {
  font-weight: bold;
  color: #555;
  letter-spacing: 0.5px;
  margin-right: 0.5rem;
}